.Feedback {
  width: 300px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid gray;
}

.title {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.statistics {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
